body{
    margin: 0;
    font-family: helvetica;
    background-color: black;
    color: seashell;
}

header{
    margin: 0;
    padding: 0;
    height: 69px;
    border-bottom: 1px solid seashell;
    background-color: black;
    color: seashell;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    justify-content: space-between;
}

.title{
    margin:0;
    margin-left: 10px;
    overflow:hidden;
}

.title img{
    height: 50px;
    margin: 0;
}

.nav{
    margin: 0;
    font-family: helvetica;
    font-size:22px;
    display: flex;
    margin-right: 10px;
}

.nav p{
    margin: 0 10px;
}

a{
    text-decoration: underline;
    color: seashell;
}

@media only screen and (max-width:700px) {
    .title img{
        height: 25px;
    }
    
    .nav{
        font-size:11px;
    }
}

main{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding-top:69px;
}

.background{
    margin:0;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg');
    overflow: hidden;
    width: 1200px;
    height: 700px;
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 100%
}

.our-mission{
    background-color: black;
    width:100%;
    text-align: center;
}

.our-mission h2{
    margin: 0;
}

.monthly-tea{
    color: seashell;
    max-width: 100%;
    text-align:center;
    display:flex;
    flex-direction: column;
}

.pics{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.images{
    display: flex;
    flex-direction: column;
}

.images img{
    height: 200px;
    width: 300px;
    max-width: 100%
}

.images p{
    margin: 10px 0;
}

.locations{
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg');
    height: 500px;
    width: 1200px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-bin{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-around;
}

.location{
    height: 300px;
    width: 300px;
    min-height: 100px;
    min-width: 100px;
    margin-right:40px;
    background-color: black;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#location-1{
    margin:0;
}

.contacts{
    text-align:center;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.copyright{
    margin-left: 20px;
}